html,
body {
  background-color: #64b5c2; /*цвет монитора */
  margin: 0;
  padding: 0;
}
ul#navigation li {
  display: inline;
  padding: 20px;
  margin: 20px;
}
h1#test {
  color: blue;
  background: coral;
  border: 1px solid black;
  padding: 100px;
  font-family: "Arial Black", Gadget, sans-serif;
}
nav {
  background: #a064c2;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
nav a {
  color: #86c264;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
}
footer {
  background-color: #a064c2;
  color: #86c264;
  font-family: Bradley Hand, cursive;
}
