html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 150px;
}
footer {
  text-align: left;
  background: rgb(248, 249, 250);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .card {
    border: none;
  }
}
